.container {

  .title {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  .docker {
    margin-top: 20px;
    code {
      color: dimgray;
      background-color: #f6f8fa;
      padding: 3px;
    }
    > a {
       &:hover {
        code {
          color: darkgray;
        }
      }
    }
  }
  .inputArea {
    margin-top: 20px;
    display: flex;

    .inputs, .examples {
      p {
        font-size: 2rem;
        font-weight: 400;
        margin: 0 0 0.5rem 0;
      }
    }

    .inputs {
      flex-grow: 2;
      flex-shrink: 0;
      margin-right: 20px;
      div {
        margin-top: 34px;
        &:first-of-type {
          margin-top: 0;
        }
      }
      input, textarea {
        width: 100%;
        font-size: 1rem;
        border: 0;
        border: 1px solid lightgray;
        border-radius: .25rem;
        padding: 12px 15px;
      }
      textarea {
        resize: vertical;
        height: 100px;
      }
    }
    .examples {
      max-width: 35%;
      .active {
        background-color: lightgray !important;
        font-weight: 400;
        &:hover {
          color: #333;
        }
      }
      button {
        width: 100%;
        cursor: pointer;
        padding: 12px 15px;
        border: 1px solid lightgray;
        color: #333;
        background-color: white;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        margin: 0;
        position: relative;
        display: block;
        margin-bottom: -1px;
        font-size: 1rem;
        text-align: left;
        &:hover, &:focus {
          color: lightgray;
          box-shadow: none;
          background-color: white;
          border-color: none;
        }
        &:first-of-type {
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
        }
        &:last-of-type {
          border-bottom-left-radius: .25rem;
          border-bottom-right-radius: .25rem;
        }
      }
    }
  }

  .button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin-top: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0069d9;
    }
  }

  .answers {
    color: #333;
    margin-top: 40px;
    overflow-y: scroll;
    max-height: 450px;
    margin-top: 15px;
    border-radius: .25rem;
    font-size: 18px !important;
    margin-bottom: 100px;
    background: linear-gradient(white,white, #efefef);
    // title
    >p {
      font-size: 2rem;
      font-weight: 400;
      margin: 0 0 0.5rem 0;
    }
    // answer
    > div {
      border: 1px solid lightgray;
      border-radius: .25rem;
      padding: 20px;
      margin: 0 20px 20px 20px;
      background-color: white;
    }

    > .basic {
      p:first-of-type {
        font-weight: 500;
        color: darkblue;
      }
      p:last-of-type {
        border-top: 1px solid lightgray;
        margin-top: 12px;
        padding-top: 12px;
      }
    }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0,0,0, 0.7);
  z-index: 10;

  .error {
    font-size: 2rem;
    color: white;
    width: 50%;
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: white;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  
  .ldsRing {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #007bff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #007bff transparent transparent transparent;
    }
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}



@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen 
and (max-width: 768px) {
  .container {
    padding: 0 10px;

    .title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
    }

    .docker {
      code {
        font-size: 14px;
      }
    }

    .inputArea {
      flex-flow: column-reverse;

      .examples {
        max-width: 100%;
        width: 100%;

        button {
          background-color: white;
        }
      }

      .inputs {
        margin-top: 20px;
        margin-right: 0;
        div {
          margin-top: 0px;
        }
      }
    }
    .answers {
      margin-top: 20px;
      margin-bottom: 0;

      >div {
        margin: 0 0 20px 0;
      }
    }
  }
}