{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": "off",
    "react/prop-types": "off",
    "quotes": "off",
    "semi": "off",
    "comma-dangle": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "import/extensions": "off",
    "no-unused-vars": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/button-has-type": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off",
    "max-len": "off",
    "no-return-await": "off",
    "arrow-body-style": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-indent": "off",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-curly-brace-presence": "off",
    "spaced-comment": "off",
    "react/no-unescaped-entities": "off",
    "no-shadow": "off",
    "prefer-const": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "react/destructuring-assignment": "off",
    "consistent-return": "off",
    "no-else-return": "off",
    "react/no-unused-class-component-methods": "off",
    "no-misleading-character-class": "off",
    "react/jsx-no-useless-fragment": "off",
    "import/order": "off",
    "import/newline-after-import": "off",
    "no-nested-ternary": "off",
    "no-confusing-arrow": "off",
    "no-unsafe-optional-chaining": "off",
    "function-call-argument-newline": "off",
    "no-multi-spaces": "off",
    "no-multiple-empty-lines": "off",
    "no-use-before-define": "off",
    "object-curly-spacing": "off",
    "no-restricted-exports": "off",
    "no-undef": "off",
    "import/no-extraneous-dependencies": "off",
    "react/no-deprecated": "off",
    "comma-spacing": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-expressions": "off",
    "import/no-useless-path-segments": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
