.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 20px;
  background-color: #f2f2f2;
  padding: 10px 15px;
}

.App-header > h1 {
  margin: 0;
}

.App-header-button {
  color: white; 
  background-color: #ffcc00;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  width: 35%;
  margin-left: 20px;
  min-width: 210px;
  height: 67px;
}

.App-main {
  padding: 100px 5%;
}

.App-main-header {
  text-align: center;
  border-bottom: 1px solid #333;
}

.App-main-header > h1 {
  padding: 0 150px;
}

.App-main-header > p {
  font-size: 18px;
}

.App-main-header > p:first-of-type{
  padding: 0 120px;
}