.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  > img {
    height: 82px;
  }
}

@media only screen 
and (max-width: 450px) {
  .header {
    > img {
      height: 50px;
    }
  }
}