.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  //height: 200px;
  margin-top: 80px;
  padding-top: 20px;
  margin-bottom: 20px;
  z-index: 100;

  border-top: 1px solid lightgray;

  img {
    height: 20px;
  }

  > a {
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.saas {
  margin-right: auto;
  font-size: 16px;
  width: 70%;
  margin-bottom: 20px;
  p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }
  > div {
    margin-top: 10px;
  }
}

@media only screen 
and (max-width: 768px) {
  .footer {
    padding: 30px 10px 0;
    margin-top: 40px;
  }
  .contactUs, .saas {
    font-size: 1rem;
    width: 100%;
  }
}