.BotChat-title {
  font-size: 42px;
}

.BotChat-chat {
  margin: 20px 40px;
  padding: 20px 20px;
  border: 1px solid #333;
  border-radius: 20px
}

.BotChat-messages {
  padding: 10px 15px 30px 15px;
  display: flex;
  flex-flow: column;
  height: 220px;
  overflow: scroll;

}

.BotChat-your_message {
  margin-right: auto;
  background-color: #eaf4ff;
}

.BotChat-bots_message {
  margin-left: auto;
  background-color: #a4d1ff;
}

.BotChat-your_message , .BotChat-bots_message {
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

.BotChat-input {
  margin-top: 30px;
  border-top: 1px solid #333;
  padding: 10px 15px 30px 15px;
}